* {
	padding: 0;
	margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: Arial;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, auto);
	grid-template-areas: "navbar navbar"
						 "header header"
						 "content content";
}

/* NAVIGATION BAR */

.navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	background: #1C2833;
	grid-area: navbar;
	display: flex;
	justify-content: center;
	height: 3em;
}

.navbar > a {
	text-align: center;
	text-decoration: none;
	line-height: 3em;
	height: 3em;
	width: 5em;
	color: lightgrey;
}

.navbar > a:hover {
	background: linear-gradient(0deg, #3498DB 1%, #2C3E50 3%);
	cursor: pointer;
}

/* HEADER */

.header {
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #000;
	height: 50vh;
}

/* NAVBAR RESPONSIVE */

@media only screen and (min-device-width : 268px) and (max-device-width : 760px) {
	.navbar {
		height: 90px;
	}
	.navbar > a {
		font-size: 30px;
	}
}

/* CONTENT */

.content {
	grid-area: content;
	background: #ecf0f1;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "widget1 widget1"
						 "widget2 widget2"
						 "widget3 widget3";
	grid-gap: 2em;
	padding: 2em;
}

.widget1 {
	background: #fff;
	box-shadow: 10px 10px 10px #999;
	grid-area: widget1;
	height: 50vh;
}

.widget2 {
	background: #fff;
	box-shadow: 10px 10px 10px #999;
	grid-area: widget2;
	height: 50vh;
}

.widget3 {
	background: #fff;
	box-shadow: 10px 10px 10px #999;
	grid-area: widget3;
	height: 50vh;
}
